section {
  margin: 50px 0px;
  transition: all 0.4s ease-in-out 0s;
}

section.show {
  opacity: 1;
}

section.hidden {
  opacity: 0;
}


section.block {
  display: block;
}

section.none {
  display: none;
}
